{% block javascripts %}
{{parent()}}

<script src="{{ asset('bundles/mdwdemo/js/eventscontrol.js') }}"></script>


{% endblock javascripts %}

  <h3>Event</h3>  

  
  <table border="0" width="100%">   
      <tr>
        <td></td>

		Event Date :<input type='datetime' size='50' name='event_date' id='event_date'><br>
		Event Title :<input type='text' size='50' name='event_title' id='event_title'><br>
		Event Description :<input type='text' size='350' name='event_desc' id='event_desc'><br>
		Event Duration(ej: 2 hours) :<input type='text' size='50' name='event_duration' id='event_duration'><br>
		
		<br>
		Event Image: <form enctype="multipart/form-data" action="uploader.php" method="POST">
							<input name="uploadedfile" type="file" />
							<input type="submit" value="Subir archivo" />
						</form>
		
		<br><br>
		Event Link :<input type='text' size='50' name='event_link' id='event_link'><br>
		Event Localization Name :<input type='text' size='50' name='event_loc_name' id='event_loc_name'><br>
		Event Latitude :<input type='text' size='50' name='event_lat' id='event_lat'><br>
		Event Longitude :<input type='text' size='50' name='event_long' id='event_long'><br>

      </tr>
   </table>
  
  
   <input type="submit" value="Save Event and Create a new One" name="Save" onclick="saveevent();">

	<input type="submit" value="Save and Finish" name="Finish" onclick="finish();">

  
  <div id="zona" name="zona">
  </div>
  

</body>
</html>