

<center>

<table border="0" width="650">
	<tr>
		<td colspan="2"><img src="cabecera_formulario.png"></td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td width="650" colspan="2"><strong>Error Interno. Intentelo de nuevo mas tarde</strong></span></td>
	</tr>
</table>

</center>


